<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Hello,</p>
    <p>We received a request to reset your password. If you didn't make this request, you can safely ignore this email.</p>
    <p>To reset your password, please click the link below:</p>
    <p><a href="{{ reset_link }}">Reset Password</a></p>
    <p>If the above link doesn't work, copy and paste the following URL into your web browser:</p>
    <p>{{ reset_link }}</p>
    <p>If you continue to have issues, please contact support.</p>
    <p>Best regards,<br>Your Bizaibo Team</p>
</body>
</html>
